.msg-box {
    display: flex;
}

.msg-group {
    border: 1px dashed;
    width: 100px;
    height: 750px;
    display: inline-block;
    margin: 3px;
}

.msg-body {
    display: inline-block;
    width: 520px;
    height: 750px;
    border: 1px dashed;
    margin: 3px;
}

.msg-member {
    border: 1px dashed;
    width: 100px;
    height: 750px;
    display: inline-block;
    margin: 3px;
    background: aliceblue;
}

.msg-title {
    margin: 5px;
}

#id-title {
    text-align: left;
    margin-left: 10px;
}

.msg-list {
    width: 500px;
    height: 600px;
    border: 1px dashed;
    overflow: auto;
    background: beige;
    text-align: center;
    margin: 0 auto 5px;
}

.msg-input {
    text-align: center;
}

#id-input {
    width: 500px;
    height: 90px;
    border: 1px dashed;
    word-break:break-all;
    overflow: auto;
    font-size: 15px;
}

.msg-cell-me-username, .msg-cell-you-username {
    font-size: 12px;
    color: #a0abcb;
    padding: 5px;
}

.msg-cell-me, .msg-cell-you {
    margin: 5px;
}

#msg-cell-me-msg {
    background: rgb(237 222 240);
    text-align-last: start;
}

#msg-cell-you-msg {
    background: rgb(218 245 253);
}

.msg-cell-msg {
    border-width: 1px ;
    padding: 10px 15px;
    border-radius: 5px;
    word-break:break-all;
    display: inline-block;
    max-width: 400px;
    font-size: 16px;
}

.msg-cell-me {
   text-align: right;
}

.msg-cell-you {
   text-align: left;
}

.msg-group-title, .msg-member-title {
    text-align: center;
    margin: 5px;
    font-size: 16px;
}