.center {
    text-align: center;
    background: aliceblue;
    width: 1000px;
    height: 800px;
}

.msg-list {
    margin: 0 auto;
    width: 500px;
    height: 600px;
    border: 1px dashed;
    overflow: auto;
    background: floralwhite;
}

#id-title {
    text-align: center;
}

.msg-input {
    text-align: center;
    margin: 0 auto;
}

#id-input {
    width: 500px;
    height: 100px;
    margin-top: 5px;
    border: 1px dashed;
    word-break:break-all;
    overflow: auto;
    text-align: left;
}

.msg-cell-me-username, .msg-cell-you-username {
    font-size: 12px;
    color: #a0abcb;
    padding: 5px;
    /*display: inline;*/
}

.msg-cell-me, .msg-cell-you {
    margin: 5px;
}

#msg-cell-me-msg {
    background: rgb(237 222 240);
    text-align-last: start;
}

#msg-cell-you-msg {
    background: rgb(218 245 253);
}

.msg-cell-msg {
    border-width: 1px ;
    padding: 10px 15px;
    border-radius: 5px;
    word-break:break-all;
    display: inline-block;
    max-width: 400px;
    font-size: 16px;
}

.msg-cell-me {
   text-align: right;
}

.msg-cell-you {
   text-align: left;
}