<!DOCTYPE html>
<!-- 注释是这样的, 不会被显示出来 -->
<!--
    html 格式是浏览器使用的标准网页格式
    简而言之就是 标签套标签
-->
<!-- html 中是所有的内容 -->
<html>
    <!-- head 中是放一些控制信息, 不会被显示 -->
    <head>
        <!-- meta charset 指定了页面编码, 否则中文会乱码 -->
        <meta charset="utf-8">
        <!-- title 是浏览器显示的页面标题 -->
        <title>axe 聊天室</title>
        <style>
        </style>
        <link rel="stylesheet" href="/static/css/connect.css">
    </head>

    <!-- body 中是浏览器要显示的内容 -->
    <body>
        <div class="msg-box">

            <!-- 消息群组-->
            <div class="msg-group">
                    <div class="msg-group-title">群组</div>
            </div>

            <!-- 消息体 -->
            <div class="msg-body">
                <div class="msg-title">
                    <div id="id-title">尊皇讨奸</div>
                </div>
                <div class="msg-list" data-user_id={{ user.id }}>
                    {% for m in msg_list %}
                        {% if m.user_id == user.id %}
                            <div class="msg-cell-me">
                                <div class="msg-cell-body">
                                    <div class="msg-cell-me-username">
                                        {{m.username}}
                                    </div>
                                    <div id="msg-cell-me-msg" class='msg-cell-msg' data-msg_id={{m.id}}>
                                        {{m.msg}}
                                    </div>
                                </div>
                                <div class="msg-cell-avatar">
                                    <img class="msg-cell-avatar-img" src="/static/img/avatar/{{m.avatar}}">
                                </div>
                            </div>
                        {% else %}
                            <div class="msg-cell-you">
                                <div class="msg-cell-avatar">
                                    <img class="msg-cell-avatar-img" src="/static/img/avatar/{{m.avatar}}">
                                </div>
                                <div class="msg-cell-body">
                                    <div class="msg-cell-you-username">
                                        {{m.username}}
                                    </div>
                                    <div id="msg-cell-you-msg" class='msg-cell-msg' data-msg_id={{m.id}}>
                                        {{m.msg}}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="msg-input">
                    <textarea id="id-input" placeholder="输入消息 按回车发送" data-action="send"></textarea>
                </div>
            </div>

            <!-- 消息成员 -->
            <div class="msg-member">
                <div class="msg-member-title">群成员</div>
            </div>

        </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous">
    </script>
    <!-- 工具 -->
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/api.js"></script>
    <script src="../static/js/action.js"></script>
    <!-- 业务逻辑 -->
    <script type="text/javascript" charset="utf-8" src="/static/js/msg.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/js/chat.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/js/login.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/js/main.js"></script>

    </body>
</html>

