<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <style>
    .class-avatar {
        width: 50px;
        height: 50px;
        border-radius: 3px;
        border: 2px solid #FFF;
        margin: 3px;
    }

    .class-avatar:hover {
        border: 2px solid deeppink;
    }

    .selected {
        width: 50px;
        height: 50px;
        border-radius: 3px;
        border: 2px solid deeppink;
        margin: 3px;
    }

    </style>
</head>
<body>
    <h1>注册</h1>
    <form action="/register" method="post"  onsubmit="return validateForm()" >
        <input class="input-username" type="text" name="username" placeholder="请输入用户名">
        <br>
        <input class="input-password" type="text" name="password" placeholder="请输入密码">
        <br>
        <input class="input-avatar" type="hidden" name="avatar">
        <div class="class-avatar-list">
            {% for avatar in avatar_list %}
                <img class="class-avatar" data-value={{avatar}} src="/static/img/avatar/{{avatar}}">
            {% endfor %}
        </div>
        <button type="submit">注册</button>
    </form>

    <!-- 工具 -->
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/api.js"></script>
    <script src="../static/js/action.js"></script>

    <script>

        function validateForm() {
            let username = e(".input-username").value
            let password = e(".input-password").value
            let avatar = e(".input-avatar").value
            log("点击了登录", `username:(${username})`, `password:(${password})`, `avatar:(${avatar})`)
            if ( username == null || username.length < 1) {
                alert("username 必须填写")
                return false
            } else if ( password == null || password.length < 1) {
                alert("password 必须填写")
                return false
            } else if ( avatar == null || avatar.length < 1) {
                alert("必须挑选头像")
                return false
            }
        }

        class Avatar extends GuaObject {
            static name = 'class-avatar-list'
            static nameSel = e(`.${this.name}`)

            static bindEvent() {
                let sel = Avatar.nameSel
                sel.addEventListener('click', function(event){
                    // 我们可以通过 event.target 来得到被点击的元素
                    let self = event.target
                    // log('被点击的元素是', self, self.dataset.value, Login.avatar)
                    let inputAvatar = e(".input-avatar")
                    if (inputAvatar.value.length > 0) {
                        let selected = e(`.selected`)
                        selected.className = "class-avatar"
                    }
                    inputAvatar.value = self.dataset.value
                    self.className += " selected"
                })
            }
        }

        Avatar.bindEvent()
    </script>

</body>
</html>